body {
  box-sizing: border-box;
  margin: 0;
}

.flex {
  display: flex;
}

/* Menú oculto */

@media (min-width: 900px) {
  #menu-mobile {
    display: none;
  }
}

/* Menú */

#menu-desk {
  justify-content: space-between;
  padding: 0 100px;
}

.logo {
  width: 36px;
}

.menu ul li {
  list-style-type: none;
}

.menu ul li a {
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
  color: #060a24;
  font-weight: 200;
  font-size: 1rem;
  padding-left: 3rem;
}

/* Menú hover y active */

.menu ul li a:hover {
  color: #00f3bb;
  text-decoration: line-through;
}

.menu ul li a:active {
  color: #060a24;
}

/* Tamaño Desktop 900 */

@media (min-width: 900px) {
  /*Header*/
  header {
    padding: 0 100px;
  }
  header h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-size: 4rem;
    color: #060a24;
    margin: 120px 0 0 0;
  }
  header h1 .punto {
    color: #0000ec;
  }
  header h1 .linea {
    text-decoration: line-through;
  }
  header p {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-size: 16px;
    color: #060a24;
    margin: 0;
  }
  header button {
    background: #00f3bb;
    width: 226px;
    height: 56px;
    border: none;
    margin-top: 56px;
    font-weight: 400;
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 56px;
  }
  /* Episodios */
  #container-episodios {
    flex-wrap: wrap;
    width: 100%;
  }
  #fondo-azul-episodios {
    width: 100%;
    background: linear-gradient(#0000ff, #0000a3);
    clip-path: polygon(100% 0, 100% 90%, 0% 100%, 0 10%);
    z-index: -1;
    height: 800px;
    padding-top: 150px;
    justify-content: center;
  }
  #contenido-episodios {
    width: 80%;
    flex-wrap: wrap;
    height: 540px;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }
  .podcast {
    width: 45%;
    height: 232px;
    z-index: 1;
  }
  .titulo-blanco {
    font-size: 3rem;
    color: #ffffff;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    width: 80%;
    margin: 0px;
  }
  header button:hover {
    background: linear-gradient(
      90deg,
      rgba(0, 240, 184, 1) 0%,
      rgba(0, 0, 254, 1) 100%
    );
    color: #ffffff;
  }
  /* Nosotros */
  #nosotros {
    width: 100%;
    height: 450px;
    display: flex;
    position: relative;
    justify-content: center;
  }
  #celular-nosotros {
    z-index: 2;
    width: 500px;
    justify-content: center;
  }
  #celular-nosotros img {
    position: absolute;
    top: -100px;
    height: 500px;
  }
  #donde-nosotros {
    z-index: 2;
    width: 500px;
    padding-right: 50px;
    box-sizing: border-box;
  }
  #nosotros #donde-nosotros h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    line-height: 42px;
    color: #060a24;
  }
  #nosotros #donde-nosotros p {
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
    color: #000000;
    line-height: 22px;
    padding-bottom: 12px;
  }
  /* Entrevistas */
  #entrevistas {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: #060a24;
    padding-left: 200px;
  }
  #container-entrevistas #contenido-entrevistas {
    width: 100%;
    flex-wrap: wrap;
  }

  /* Tamaños fotos entrevistas*/

  @media screen and (max-width: 2560px) {
    #contenido-entrevistas img {
      width: 50%;
    }
  }

  @media screen and (min-width: 900px) {
    #contenido-entrevistas img {
      width: 33.3%;
    }
  }

  @media screen and (max-width: 400px) {
    #contenido-entrevistas img {
      width: 100%;
    }
  }

  /* Tópicos */
  #topicos {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: #060a24;
    padding-left: 200px;
    margin: 64px 0 69px 0;
  }
  #contenido-topicos h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #060a24;
  }
  #contenido-topicos {
    width: 100%;
    justify-content: center;
  }
  .box-topicos {
    width: 260px;
    text-align: center;
  }
  /* Novedades */
  #fondo-azul-novedades {
    width: 100%;
    background: linear-gradient(#0000ff, #0000a3);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 20%);
    z-index: -1;
    height: 450px;
    padding-top: 50px;
    box-sizing: border-box;
  }
  #container-novedades {
    width: 100%;
  }
  #contenido-novedades {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #container-novedades h1 {
    font-size: 3rem;
    font-family: "IBM Plex Sans", sans-serif;
    color: #ffffff;
    font-weight: 300;
  }
  #container-novedades button {
    background: #00f3bb;
    width: 345px;
    height: 56px;
    border: none;
    font-weight: 400;
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
    text-transform: uppercase;
  }
  #container-novedades button:hover {
    background: linear-gradient(
      90deg,
      rgba(0, 240, 184, 1) 0%,
      rgba(0, 0, 254, 1) 100%
    );
    color: #ffffff;
  }
  /* Footer */
  #footer {
    justify-content: space-between;
    flex-direction: row;
    margin-top: 36px;
    margin-bottom: 31px;
    padding: 0 100px 0 100px;
  }
  #footer-copyright {
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
    color: #060a24;
  }
  #footer-iconos {
    margin: auto 0;
    padding: 0;
    box-sizing: border-box;
    width: 250px;
    justify-content: space-between;
  }
}

/* Footer hover y active */

#footer-iconos a:hover {
  color: #00f3bb;
}

#footer-iconos a {
  color: #060a24;
}

#footer-iconos a:active {
  color: #060a24;
}
